@import "@/shared/styles/global";

.base_panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: $color-bg;
  border: 1px solid $gray-100;
  border-radius: 0.75rem;
  padding: 1.5rem;
}