@import "@/shared/styles/global";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-items: center;
  gap: 1rem;
  background-color: $color-white;
  border: 1px solid $gray-100;
  border-radius: 0.5rem;
  margin: 3px;

  &_size {
    &__small {
      font: $font-input;
      padding: 0.5rem 1rem;
    }

    &__large {
      font: $font-input-lg;
      padding: 0.75rem 1rem;
    }
  }

  &_small {
    &__padding {
      padding: 0.5rem 1rem 0.5rem 3rem;
    }
  }

  &_large {
    &__padding {
      padding: 0.75rem 1rem  0.75rem 4rem;
    }
  }

  &:has(input:focus) {
    border: 1px solid transparent;
    outline-offset: 0;
    outline: $color-border solid 3px;

    .left_icon, .right_icon {
      path {
        fill: $gray-900;
      }
    }
  }

  &:not(:has(input:focus)) {
    .left_icon, .right_icon {
      path {
        fill: $gray-300;
      }
    }
  }

  &_error {
    border-color: $color-error;
  }
}

.input {
  background-color: transparent;
  width: 100%;
  color: $color-text;
  outline: none;

  &::placeholder {
    color: $gray-300;
  }
}

.left_icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);

  &_size {
    &__normal {
      width: 1rem;
      height: 1rem;
    }

    &__large {
      width: 2rem;
      height: 2rem;
    }
  }
}

.right_icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%)
}

.error {
  color: $color-error;
  font-size: 0.75rem;
}