@import "@/shared/styles/global";

.trigger {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font: $font-medium;
  gap: 0.625rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.active {
  width: 100%;
  background-color: $color-bg;
  box-shadow: $shadow-md;
  border-radius: 0.5rem;
}