@import "@/shared/styles/global";

.wrapper {
  position: relative;
  display: inline-block;
}

.trigger {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
  background-color: $color-bg;
  border: 1px solid $gray-200;
  border-radius: 0.625rem;
  box-shadow: $shadow-gray-lg;
  padding: 1.25rem 1rem;
  margin-top: 0.5rem;
  min-width: 15.75rem;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.username {
  font: $font-heading;
  font-size: 1.25rem;
  line-height: normal;
}

.roles {
  font: $font-caption;
  font-size: 0.875rem;
}
