@import '@/shared/styles/global';

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: $color-main;
    border-radius: 50%;
    font: $font-heading;
    color: $color-white;
}