.select {
  border-radius: 0.5rem;
  border: 1px solid #E5E5E5;

  &_size {
    &__large {
      padding: 0.625rem 1rem;
      font-size: 1.25rem;
    }
    &__small {
      padding: 0.5rem 1rem;
    }
  }
}