$color-bg:           #FFFFFF;
$color-text:         #1C1C1C;
$color-border:       #E5E5E5;

$color-main:         #0077B9;
$color-main-weak:   rgba(0, 119, 185, 0.9);
$color-main-hover:    rgba(0, 119, 185, 0.75);

$color-error:        #f87171;
$color-muted:        #9ca3af;
$color-overlay:      rgba(0, 0, 0, 0.5);

$gray-50:            #F3F4F6;
$gray-100:           #E5E5E5;
$gray-200:           #DDDDDD;
$gray-300:           #B2B2B2;
$gray-400:           #9ca3af;
$gray-500:           #393939;
$gray-700:           #1f2937;
$gray-900:           #1C1C1C;

$color-white:              #FFFFFF;