@import "@/shared/styles/global";

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: $color-bg;
  box-shadow: $shadow-md;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.nav {
  display: flex;
  gap: 1rem;
  margin-left: auto;
  margin-right: 3rem;
}

.link {
  text-decoration: none;
  font: $font-heading;
  color: $color-text;
  transition: color 0.2s;

  &:hover {
    color: $color-main;
  }
}

.active {
  color: $color-main;
}