@import '@/shared/styles/global';

.logo_wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
}

.text {
    max-width: 23.5rem;
    font: $font-heading;
    font-size: 1.25rem;

    &_color {
        &_white {
            color: $color-white;
        }
        &_normal {
            color: $color-text;
        }
    }
}