@import "@/shared/styles/global";

.textarea {
  width: 100%;
  min-height: 2.5rem;
  max-height: 20rem;
  overflow-y: hidden;
  margin: 2px;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #1C1C1C;
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 0.5rem;
  outline: none;
  resize: vertical;
  transition: border-color 0.2s, height 0.2s ease;

  &:focus {
    margin: 0;
    border: 3px solid $gray-100;
  }

  &:disabled {
    background-color: $gray-100;
    color: $gray-400;
    cursor: not-allowed;
  }
}

.error {
  border-color: $color-error;
}